
ul li{
	display: inline; 
	list-style: none;
}
ul li a{
	text-decoration: none;
	color: white;
}

ul li a:hover{
 background-color: rgba(255, 255, 255, 0.5); 
}


#chart {
	
  text-align: left;
  box-shadow: 0px 2px 8px rgba(0,0,0,.7);
  border: 1px solid #aaa;
  margin: 32px auto;
  background: white;
}