

div.header{
    background-image: url("/home/peter/Desktop/PwPm/stuff/images/background.gif");
    background-position: center;
   background-size: cover;
  
}

div.container{
padding-right: 20px;
	width: 880px;
}
ul li{
    display: inline;
    text-align: center;
}